<p>postlist works!</p>

<h1>POST LIST</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>POST</th>
        <th>ACTIONS</th>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>

    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        
    </tr>

</table>
